@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 19 97% 50%;
  --primary-muted: 19 96% 60%;

  /* --text-base-primary: #000; */
  /* --text-base-disabled: rgba(0, 0, 0, 0.32); */
  /* --text-base-secondary: rgba(0, 0, 0, 0.64); */

  /* --shading-base-stroke-regular: rgba(0, 0, 0, 0.08); */
  --gradient-brand-orange: linear-gradient(
    180deg,
    hsl(var(--primary-muted)) 0.2%,
    hsl(var(--primary)) 99.79%
  );

  /* --hover-opacity: 0.9; */
  /* --shading-base-stroke-hair: rgba(0, 0, 0, 0.16); */
}
